<?xml version="1.0"?>

<config>
  <modules>
    <Soularpanic_MassRocketShipIt>
      <version>0.0.1</version>
    </Soularpanic_MassRocketShipIt>
  </modules>

  <global>
    <models>
      <massrocketshipit>
	<class>Soularpanic_MassRocketShipIt_Model</class>
      </massrocketshipit>
    </models>
    <blocks>
      <massrocketshipit>
	<class>Soularpanic_MassRocketShipIt_Block</class>
      </massrocketshipit>
    </blocks>
  </global>

  <adminhtml>
    <layout>
      <updates>
	<massrocketshipit>
	  <file>soularpanic_massrocketshipit.xml</file>
	</massrocketshipit>
      </updates>
    </layout>
    <events>
      <sales_order_grid_collection_load_before>
	<observers>
	  <soulapanic_massrocketshipit_loadgriddata>
	    <type>model</type>
	    <class>massrocketshipit/observer</class>
	    <method>salesOrderGridCollectionLoadBefore</method>
	  </soulapanic_massrocketshipit_loadgriddata>
	</observers>
      </sales_order_grid_collection_load_before>
      <core_block_abstract_to_html_after>
      	<observers>
      	  <soularpanic_massrocketshipit_changegridjs>
      	    <type>model</type>
      	    <class>massrocketshipit/observer</class>
      	    <method>changeGridJSObject</method>
      	  </soularpanic_massrocketshipit_changegridjs>
      	</observers>
      </core_block_abstract_to_html_after>
    </events>
  </adminhtml>

  <admin>
    <routers>
      <adminhtml>
	<args>
	  <modules>
	    <Soularpanic_MassRocketShipIt before="Fooman_OrderManager">Soularpanic_MassRocketShipIt</Soularpanic_MassRocketShipIt>
	  </modules>
	</args>
      </adminhtml>
      <massrocketshipit>
	<use>admin</use>
	<args>
	  <module>Soularpanic_MassRocketShipIt</module>
	  <frontName>massrocketshipit</frontName>
	</args>
      </massrocketshipit>
    </routers>
  </admin>

</config>
