<?xml version="1.0"?>
<config>
  <modules>
    <Soularpanic_RocketShipIt>
      <version>0.0.1</version>
    </Soularpanic_RocketShipIt>
  </modules>

  <global>
    <models>
      <!-- model group alias forthe module -->
      <rocketshipit>
	<!-- base class name -->
	<class>Soularpanic_RocketShipIt_Model</class>
      </rocketshipit>
    </models>
    
    <resources>
      <rocketshipit_setup>
	<setup>
	  <module>Soularpanic_RocketShipIt</module>
	</setup>
	<connection>
	  <use>core_setup</use>
	</connection>
      </rocketshipit_setup>
    </resources>

    <events>
      <sales_order_shipment_save_before>
	<observers>
	  <!--
	      Unique id for event's observers node. By convention, the name of the
	      module in lowercase, but since I expect that we'll have multiple 
	      observers with our module, I'm adding some sort of functional 
	      identifier thingy
	  -->
	  <rocketshipit_foo>
	  <!-- <soularpanic_rocketshipit_ship_before> -->
            <!--<namespace_modulename_ship_before>-->
            <type>singleton</type>
            <!-- <class>Namespace_Modulename_Model_Observer</class> -->
	    <!-- 
		 Model to be instantiated. I think the first part should be the alias
		 defined above and the second part is the file name.
	    -->
	    <class>rocketshipit/observer</class>
            <method>foo</method>
	  </rocketshipit_foo>
	</observers>
      </sales_order_shipment_save_before>
    </events>
  </global>

  <default>
    <carriers>
      <rocketshipit>
	<model>rocketshipit/carrier_shippingmethod</model>
      </rocketshipit>
    </carriers>
  </default>
</config>
