<?xml version="1.0"?>
<config>
  <modules>
    <Soularpanic_RocketShipIt>
      <version>0.0.1</version>
    </Soularpanic_RocketShipIt>
  </modules>

  <global>
    <models>
      <!-- model group alias forthe module -->
      <rocketshipit>
	<!-- base class name -->
	<class>Soularpanic_RocketShipIt_Model</class>
      </rocketshipit>
    </models>

    <helpers>
      <rocketshipit>
	<class>Soularpanic_RocketShipIt_Helper</class>
      </rocketshipit>
    </helpers>
    
    <resources>
      <rocketshipit_setup>
	<setup>
	  <module>Soularpanic_RocketShipIt</module>
	</setup>
	<connection>
	  <use>core_setup</use>
	</connection>
      </rocketshipit_setup>
    </resources>

    <events>
      <core_block_abstract_prepare_layout_before>
	<observers>
	  <soularpanic_rocketshipit_addmassbutton>
	    <type>model</type>
	    <class>rocketshipit/observer</class>
	    <method>addMassButtons</method>
	  </soularpanic_rocketshipit_addmassbutton>
	</observers>
      </core_block_abstract_prepare_layout_before>
      <sales_order_shipment_save_before>
	<observers>
	  <!--
	      Unique id for event's observers node. By convention, the name of the
	      module in lowercase, but since I expect that we'll have multiple 
	      observers with our module, I'm adding some sort of functional 
	      identifier thingy
	  -->
	  <soularpanic_rocketshipit_track_and_label>
	  <!-- <rocketshipit_foo> -->
	  <!-- <soularpaonic_rocketshipit_ship_before> -->
            <!--<namespace_modulename_ship_before>-->
            <type>singleton</type>
            <!-- <class>Namespace_Modulename_Model_Observer</class> -->
	    <!-- 
		 Model to be instantiated. I think the first part should be the alias
		 defined above and the second part is the file name.
	    -->
	    <class>rocketshipit/observer</class>
            <method>trackAndLabel</method>
	  </soularpanic_rocketshipit_track_and_label>
	</observers>
      </sales_order_shipment_save_before>
      <!-- <sales_order_shipment_save_after> -->
      <!-- 	<observers> -->
      <!-- 	  <rocketshipit_track_and_label> -->
      <!-- 	    <type>singleton</type> -->
      <!-- 	    <class>rocketshipit/observer</class> -->
      <!-- 	    <method>postsave</method> -->
      <!-- 	  </rocketshipit_track_and_label> -->
      <!-- 	</observers> -->
      <!-- </sales_order_shipment_save_after> -->
    </events>
  </global>

  <admin>
    <routers>
      <adminhtml>
	<args>
	  <modules>
	    <Soularpanic_RocketShipIt before="Fooman_OrderManager">Soularpanic_RocketShipIt</Soularpanic_RocketShipIt>
	    <!-- <Soularpanic_RocketShipIt before="Mage_Adminhtml">Soularpanic_RocketShipIt</Soularpanic_RocketShipIt> -->
	  </modules>
	</args>
      </adminhtml>
    </routers>
  </admin>

  <default>
    <carriers>
      <!-- <rocketshipit> -->
      <!-- 	<model>rocketshipit/carrier_shippingmethod</model> -->
      <!-- </rocketshipit> -->
      <rocketshipit_ups>
	<model>rocketshipit/carrier_ups</model>
      </rocketshipit_ups>
      <rocketshipit_usps>
      	<model>rocketshipit/carrier_usps</model>
      </rocketshipit_usps>
    </carriers>
  </default>
</config>
