.orderGridShippingMethodSelect {
    width: 195px;
}

.statusIcon {
    width: 10px;
    height: 10px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
}

.fraudIcon {
    background: red;
}

.freeShippingIcon {
    background: blue;
}

.internationalIcon {
    background: purple;
}

.duplicateAddressIcon {
    background: green;
}